<div class="modal-header">
    <h1 class="modal-title fs-5">Crear servicio</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="serviceForm">
    <div class="modal-body">
        <div class="form-floating border rounded mb-2">
            <input
                type="text"
                class="form-control"
                formControlName="name"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.name.invalid
                }"
            />
            <label>Nombre</label>
        </div>
        <!--
        <div class="border mb-2 px-2 border rounded shadow-sm">
            <label>Valor</label>
            <input
                type="number"
                class="form-control form-control-sm"
                formControlName="value"
                min="0"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.value.invalid
                }"
            />
            Valor real:
            <b>{{ serviceForm.value.value | currency }}</b>
        </div>
        -->
        <div class="form-floating border rounded is-invalid">
            <textarea
                formControlName="description"
                type="text"
                class="form-control"
                style="min-height: 10em"
                [ngClass]="{
                    'is-invalid': serviceForm.controls.description.invalid
                }"
            ></textarea>
            <label>Descripcion</label>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="activeModal.close()"
            >
                Cancelar
            </button>
            <button
                type="button"
                class="btn btn-primary"
                [disabled]="serviceForm.invalid"
                (click)="createService()"
            >
                Guardar
            </button>
        </div>
    </div>
</form>
