<!-- <app-navigation></app-navigation>
<div class="col-md-4 offset-md-2" style="margin-top:150px ;">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="mb-3">
          <input type="text" name="name" [(ngModel)]="zone.name" placeholder="Nombre de la Zona" class="form-control" autofocus required>
        </div>
        <div class="mb-3">
          <input type="number" name="code" [(ngModel)]="zone.code" rows="2" placeholder="Codigo" class="form-control" required>
        </div>
        <div class="mb-3">
          <input type="number" name="placeId" [(ngModel)]="zone.placeId" rows="2" placeholder="Id del lugar" class="form-control" required>
        </div>
        <div class="mb-3">
          <textarea name="equipos" [(ngModel)]="zone.equipos" rows="2" placeholder="Equipos" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
          <input type="url" name="image URL" [(ngModel)]="zone.url" placeholder="Image" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)=" edit ? updateGame(): saveNewZone()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4" style="margin-top:150px ;">
  <div class="card card-body text-center">
    <h3>{{zone.name == '' ? 'Nombre Zona' : zone.name}}</h3>
    <img [src] = "zone.url == '' ? '/assets/noimage2.png' : zone.url " class="card-img-top" style="height: 300px;">
    <p>{{zone.equipos == null ? 'Equipos' : zone.equipos}}</p>
    <p>{{zone.code == 0 ? 'Codigo' : zone.code}}</p>
  </div>
</div> -->
