<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <h1 class="text-700 text-center m-0">Auditoría</h1>
    <div class="h-100 mh-100 overflow-auto">
        <app-search-table
            [searchFunctionService]="actionsApiService"
            #searchTable
        >
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Acción</th>
                        <th scope="col">URL</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let action of (searchTable.searchResult | async)
                                ?.search
                        "
                    >
                        <td>{{ action.method }}</td>
                        <td>{{ action.url }}</td>
                        <td>{{ action.date }}</td>
                        <td>
                            {{ action.user.firstName }}
                            {{ action.user.lastName }}
                        </td>
                        <td class="text-center">
                            <button
                                class="btn btn-sm btn-primary"
                                routerLink="/users/{{ action.user.id }}"
                            >
                                <i class="bi bi-eye-fill"></i>
                                Ver usuario
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </app-search-table>
    </div>
</div>
