<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <h1 class="text-700 text-center m-0">Clientes</h1>
    <div class="text-center py-2 border-bottom">
        <button class="btn btn-primary disabled">
            <i class="bi bi-plus-lg"></i>
            Crear zona
        </button>
    </div>
    <div class="h-100">
        <app-search-list
            [searchFunctionService]="searchFunctionService"
            #search
        >
            <div class="list-group px-5">
                <a
                    *ngFor="let zone of search.search"
                    routerLink="/zones/{{ zone.id }}"
                    class="list-group-item list-group-item-action d-flex gap-2 py-1"
                    aria-current="true"
                >
                    <i class="bi bi-people-fill"></i>
                    <div
                        class="d-flex gap-2 w-100 justify-content-between align-items-center"
                    >
                        <div>
                            <h6 class="mb-0">
                                {{ zone.name }}
                            </h6>
                            <p class="mb-0 opacity-75 small">
                                {{ zone.code }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </app-search-list>
    </div>
</div>
