<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <h1 class="text-700 text-center m-0">Zonas</h1>
    <div class="text-center py-2 border-bottom">
        <button class="btn btn-primary disabled">
            <i class="bi bi-plus-lg"></i>
            Crear zona
        </button>
    </div>
    <div class="h-100 overflow-auto mh-100">
        <app-search-table
            [searchFunctionService]="zonesApiService"
            #searchTable
        >
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let zone of (searchTable.searchResult | async)
                                ?.search
                        "
                    >
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.code }}</td>
                        <td class="text-center">
                            <button
                                class="btn btn-sm btn-primary"
                                routerLink="/zones/{{ zone.id }}"
                            >
                                <i class="bi bi-eye-fill"></i>
                                Ver
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </app-search-table>
    </div>
</div>
