<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <div class="container h-100">
        <p class="fs-3 my-auto text-600 pb-2 mb-3 border-bottom">
            Validación de facturas
        </p>
        <div id="reader"></div>

        <div
            *ngIf="cameraError"
            class="border shadow border-danger px-5 py-3 rounded d-flex flex-row gap-3 justify-content-center align-items-center"
        >
            <i class="bi bi-exclamation-triangle display-5 text-danger"></i>
            El sistema no ha encontrado cámaras disponibles para realizar la
            validación de facturas.
        </div>

        <div *ngIf="invoiceToValidate">
            <p class="fs-3">Factura {{ invoiceToValidate.id }}</p>
            <div class="d-flex flex-row gap-3 justify-content-center">
                <button class="btn btn-success" (click)="updateInvoiceAsPaid()">
                    Marcar como pagada
                </button>
                <button
                    class="btn btn-outline-secondary"
                    (click)="startCamera()"
                >
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
