<app-navigation></app-navigation>
<div class="container">

    <div class="table-responsive">
        <table class="table table-striped table-sm table-light border-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr appCellClick *ngFor="let item of clients">
                    <th scope="row">{{item.document}}</th>
                    <td>{{item.firstName}} </td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.address}}</td>
                    <td> Servicio </td>

                    <td *ngIf="true"><a (click)="getInfo(item)" data-bs-toggle="modal" data-bs-target="#modalForm"
                            data-bs-whatever="@getbootstrap" style="background-color: rgb(244, 244, 244);"
                            class="btn btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z" />
                            </svg></a></td>
                    <td *ngIf="false"><a data-bs-toggle="modal" data-bs-target="#modalForm"
                            data-bs-whatever="@getbootstrap" style="background-color: rgb(80, 241, 11);"
                            class="btn btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z" />
                            </svg></a></td>
                    <td *ngIf="false"><a data-bs-toggle="modal" data-bs-target="#modalForm"
                            data-bs-whatever="@getbootstrap" style="background-color: rgb(241, 214, 11);"
                            class="btn btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z" />
                            </svg></a></td>
                    <td *ngIf="false"><a data-bs-toggle="modal" data-bs-target="#modalForm"
                            data-bs-whatever="@getbootstrap" style="background-color: rgb(241, 49, 11);"
                            class="btn btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z" />
                            </svg></a></td>

                </tr>
            </tbody>

            <caption>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm"
                        data-bs-whatever="@getbootstrap" type="button">Agregar</button>
                </div>
            </caption>

        </table>

        <!-- <button type="button" class="btn btn-primary" >Open modal for @getbootstrap</button> -->
        <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalFormLabel">Información Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formClient">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="first_name" class="form-label">Nombres</label>
                                        <input formControlName="first_name" type="text" class="form-control" id="first_name"
                                            placeholder="Ingrese Nombres Completos">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="last_name" class="form-label">Apellidos</label>
                                        <input formControlName="last_name"  type="text" class="form-control" id="last_name"
                                            placeholder="Ingrese Apellidos Completos ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="type_document" class="form-label"> Documentos</label>
                                        <select formControlName="type_document" class="form-select" id="type_document" aria-label="Default select example">
                                            <option selected>Seleccionar</option>
                                            <option value="CC">Cedula de Ciudadania</option>
                                            <option value="CE">Cedula Extrangeria</option>
                                            <option value="TI">Tarjeta de Identidad</option>
                                            <option value="NIT">NIT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <label for="document" class="form-label">Documento</label>
                                        <input  formControlName="document"  type="text" class="form-control" id="document"
                                            placeholder="#########">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Celular</label>
                                        <input formControlName="phone" type="number" class="form-control" id="phone"
                                            placeholder="#########">
                                    </div>
                                </div>

                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Correo</label>
                                <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Direccion</label>
                                <input formControlName="address" type="text" class="form-control" id="address"
                                    placeholder="cra 4 #35512 ">
                            </div>

                        </form>
                        <div *ngIf="!formClient.invalid">
                            <table class="table table-striped table-sm table-light border-light">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr appCellClick *ngFor="let item of hardware">
                                        <th scope="row">{{item.id}}</th>
                                        <td>{{item.model}} </td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.details}}</td>
                                    </tr>
                                </tbody>
    
                                <caption>
                                    Tabla de Equipos
                                </caption>
    
                            </table>
                        </div>      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit"  [disabled]="formClient.invalid" (click)="addClient()" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>