<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <app-loader class="h-100" *ngIf="!zone"></app-loader>

    <div *ngIf="zone">
        <h2 class="text-700 text-center">Zona</h2>
        <h6 class="text-600 text-center border-bottom pb-3">
            {{ zone.name }}
        </h6>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-2 m-sm-0 border rounded">
                        <input
                            type="text"
                            readonly
                            class="form-control-plaintext"
                            [value]="zone.name"
                        />
                        <label>Nombre</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating border rounded">
                        <input
                            type="text"
                            readonly
                            class="form-control-plaintext"
                            [value]="zone.code"
                        />
                        <label>Código</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2 mt-2">
                <button
                    class="btn btn-sm btn-primary "
                    (click)="openEditZoneModal()"
                    >
                    <i class="bi bi-pen-fill"></i>
                    Editar
                </button>
                <button
                    class="btn btn-sm btn-danger "
                    (click)="openDeleteZoneModal()"
                    >
                    <i class="bi bi-trash-fill"></i>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

