<app-base-modal>
    <span *ngIf="user">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Editar usuario</h1>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            ></button>
        </div>
        <form [formGroup]="user">
            <div class="modal-body">
                <div class="form-floating border rounded">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="firstName"
                        [ngClass]="{
                            'is-invalid': user.controls.firstName.invalid
                        }"
                    />
                    <label>Nombres</label>
                </div>
                <div class="form-floating mt-2 border rounded is-invalid">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="lastName"
                        [ngClass]="{
                            'is-invalid': user.controls.lastName.invalid
                        }"
                    />
                    <label>Apellidos</label>
                </div>
                <div class="form-floating mt-2 border rounded">
                    <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        [ngClass]="{
                            'is-invalid': user.controls.email.invalid
                        }"
                    />
                    <label>Correo electrónico</label>
                </div>
                <div class="input-group mt-2 border rounded">
                    <button class="btn btn-outline-secondary" type="button">
                        Seleccionar rol
                    </button>
                    <input
                        type="text"
                        readonly
                        class="form-control"
                        placeholder="Sin un rol seleccionado"
                        formControlName="role"
                        [ngClass]="{
                            'is-invalid': user.controls.role.invalid
                        }"
                    />
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Cancelar
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="user.invalid"
                >
                    Crear
                </button>
            </div>
        </form>
    </span>
</app-base-modal>
