<div class="modal-header">
    <h1 class="modal-title fs-5">Editar Cliente</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="clientForm">
    <div class="modal-body">
        <div class="form-floating border rounded">
            <input
                type="text"
                class="form-control"
                formControlName="firstName"
                [ngClass]="{
                    'is-invalid': clientForm.controls.firstName.invalid
                }"
            />
            <label>Nombres</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <input
                type="text"
                class="form-control"
                formControlName="lastName"
                [ngClass]="{
                    'is-invalid': clientForm.controls.lastName.invalid
                }"
            />
            <label>Apellidos</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <input
                type="text"
                class="form-control"
                formControlName="document"
                [ngClass]="{
                    'is-invalid': clientForm.controls.document.invalid
                }"
            />
            <label>Documento</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <input
                type="text"
                class="form-control"
                formControlName="phone"
                [ngClass]="{
                    'is-invalid': clientForm.controls.phone.invalid
                }"
            />
            <label>Telefono</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <input
                type="text"
                class="form-control"
                formControlName="address"
                [ngClass]="{
                    'is-invalid': clientForm.controls.address.invalid
                }"
            />
            <label>Direccion</label>
        </div>
        <div class="form-floating mt-2 border rounded">
            <input
                type="email"
                class="form-control"
                formControlName="email"
                [ngClass]="{
                    'is-invalid': clientForm.controls.email.invalid
                }"
            />
            <label>Correo electrónico</label>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="clientForm.invalid"
            (click)="editClient()"
        >
            Guardar
        </button>
    </div>
</form>
