<div class="modal-header">
    <h1 class="modal-title fs-5">Editar zona</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="zoneForm">
    <div class="modal-body">
        <div class="form-floating border rounded">
            <input
                type="text"
                class="form-control"
                formControlName="name"
                [ngClass]="{
                    'is-invalid': zoneForm.controls.name.invalid
                }"
            />
            <label>Nombre</label>
        </div>
        <div class="form-floating mt-2 border rounded is-invalid">
            <input
                type="text"
                class="form-control"
                formControlName="code"
                [ngClass]="{
                    'is-invalid': zoneForm.controls.code.invalid
                }"
            />
            <label>Codigo</label>
        </div>
        <div class="input-group mt-2 border rounded">
            <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="openSelectPlace()"
            >
                Seleccionar lugar
            </button>
            <input
                type="text"
                readonly
                class="form-control"
                placeholder="Sin un lugar seleccionado"
                [value]="zoneForm.value.place?.name"
                [ngClass]="{
                    'is-invalid': zoneForm.controls.place.invalid
                }"
            />
        </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="zoneForm.invalid"
            (click)="editZone()"
        >
            Guardar
        </button>
    </div>
    </div>
</form>
