<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <h1 class="text-700 text-center">Configuración</h1>

    <div class="flex-1-1-auto m-auto mt-3">
        <div class="list-group px-5">
            <a
                routerLink="/config/actions"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
            >
                <i class="bi bi-clipboard2-check-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Auditoría</h6>
                        <p class="mb-0 opacity-75">
                            Información sobre las acciones realizadas en la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/config/places"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
            >
                <i class="bi bi-geo-alt-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Lugares</h6>
                        <p class="mb-0 opacity-75">
                            Información sobre los lugares registrados en la
                            plataforma.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/config/roles"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
            >
                <i class="bi bi-person-lines-fill fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Roles</h6>
                        <p class="mb-0 opacity-75">
                            Configuración relacionada con los roles y permisos.
                        </p>
                    </div>
                </div>
            </a>
            <a
                routerLink="/config/roles"
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
            >
                <i class="bi bi-receipt fs-2"></i>
                <div
                    class="d-flex gap-2 w-100 justify-content-between align-items-center"
                >
                    <div>
                        <h6 class="mb-0">Facturación</h6>
                        <p class="mb-0 opacity-75">
                            Configuración relacionada con las facturas y su
                            generación.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
