<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <h1 class="text-700 text-center m-0">Roles</h1>
    <div class="text-center py-2 border-bottom">
        <button class="btn btn-primary" (click)="showCreateRoleModal()">
            <i class="bi bi-plus-lg"></i>
            Crear rol
        </button>
    </div>
    <div class="h-100">
        <app-search-list
            [searchFunctionService]="searchFunctionService"
            [searchLimit]="ROLE_SEARCH_LIMIT"
            #search
        >
            <div class="list-group px-5">
                <button
                    *ngFor="let role of search.search"
                    class="list-group-item list-group-item-action d-flex align-items-center"
                    aria-current="true"
                    routerLink="/config/roles/{{ role.id }}"
                >
                    <i class="bi bi-people-fill"></i>
                    <h6 class="ms-2 mb-0">
                        {{ role.name }}
                    </h6>
                </button>
            </div>
        </app-search-list>
    </div>
</div>
