<div class="h-100 d-flex flex-column">
    <app-main-navbar></app-main-navbar>

    <div class="container h-100">
        <div class="container row text-500 border-bottom pb-3 m-0 p-0">
            <div class="col-12 col-md-6 d-flex">
                <p class="fs-3 my-auto">Facturas</p>
            </div>
            <div class="col-12 col-md-6 text-end">
                <app-input-readonly
                    label="Próxima fecha de facturación"
                    [value]="countDown"
                ></app-input-readonly>
            </div>
        </div>
        <div class="my-3">
            <p class="fs-5 my-auto text-500">Facturas por pagar</p>
            <div
                class="d-flex flex-column gap-3 py-3"
                *ngIf="invoices.length > 0; else noInvoices"
            >
                <div class="text-end">
                    <button
                        class="btn btn-primary"
                        (click)="downloadInvoices()"
                    >
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Descargar facturas
                    </button>
                </div>
                <div
                    *ngFor="let invoice of invoices"
                    class="rounded shadow-sm border px-4 py-2"
                >
                    Factura {{ invoice.id }}
                    <p class="m-0 p-0 text-primary">
                        {{ invoice.value | currency }}
                    </p>
                    <p class="m-0 p-0 text-danger text-opacity-50">
                        Mora: {{ invoice.latePaymentValue | currency }}
                    </p>
                </div>
            </div>

            <ng-template #noInvoices>
                <div
                    class="border shadow border-success px-5 py-3 rounded d-flex flex-row gap-3 justify-content-center align-items-center mt-2"
                >
                    <i class="bi bi-clipboard-check display-5 text-success"></i>
                    No hay facturas por pagar.
                </div>
            </ng-template>
        </div>
    </div>
</div>
