<div class="modal-header">
    <h1 class="modal-title fs-5">Editar próxima fecha de facturación</h1>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="input-group mb-3">
        <div class="form-floating">
            <input
                type="text"
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                [formControl]="invoiceDateControl"
                [ngClass]="{
                    'is-invalid': invoiceDateControl.invalid
                }"
                #periodStart="ngbDatepicker"
            />
            <label>Próxima fecha de facturación</label>
        </div>
        <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="periodStart.toggle()"
            type="button"
        ></button>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="invoiceDateControl.invalid"
            (click)="editInvoiceGenerationDate()"
        >
            Guardar
        </button>
    </div>
</div>
